@page
@model Proyecto_Final_Registro_CESIM.Pages.Estudiantes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estudiante.estudianteID" />
            <div class="form-group">
                <label asp-for="Estudiante.tutorID" class="control-label"></label>
                <select asp-for="Estudiante.tutorID" class="form-control" asp-items="ViewBag.tutorID"></select>
                <span asp-validation-for="Estudiante.tutorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante.Nombres" class="control-label"></label>
                <input asp-for="Estudiante.Nombres" class="form-control" />
                <span asp-validation-for="Estudiante.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante.Apellidos" class="control-label"></label>
                <input asp-for="Estudiante.Apellidos" class="form-control" />
                <span asp-validation-for="Estudiante.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante.Sexo" class="control-label"></label>
                <input asp-for="Estudiante.Sexo" class="form-control" />
                <span asp-validation-for="Estudiante.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante.Nacimiento" class="control-label"></label>
                <input asp-for="Estudiante.Nacimiento" class="form-control" />
                <span asp-validation-for="Estudiante.Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante.Codigo" class="control-label"></label>
                <input asp-for="Estudiante.Codigo" class="form-control" />
                <span asp-validation-for="Estudiante.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
