@page
@model Proyecto_Final_Registro_CESIM.Pages.Tutores.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tutor.Nombres" class="control-label"></label>
                <input asp-for="Tutor.Nombres" class="form-control" />
                <span asp-validation-for="Tutor.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Apellidos" class="control-label"></label>
                <input asp-for="Tutor.Apellidos" class="form-control" />
                <span asp-validation-for="Tutor.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Identificacion" class="control-label"></label>
                <input asp-for="Tutor.Identificacion" class="form-control" />
                <span asp-validation-for="Tutor.Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Telefono" class="control-label"></label>
                <input asp-for="Tutor.Telefono" class="form-control" />
                <span asp-validation-for="Tutor.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Direccion" class="control-label"></label>
                <input asp-for="Tutor.Direccion" class="form-control" />
                <span asp-validation-for="Tutor.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
